<main>
  <div class="container">
    <div class="row">

    <p><%= @products %></p>

    <% @description_summaries.each do |description_summary| %>
      <h2>topic: <%= description_summary[:topic_name] %></h2>
      <h3>feature: <%= description_summary[:feature_name] %></h3>
      <% description_summary[:descriptions].each do |description| %>
        <p><strong>product: <%= description[:product] %></strong></p>
        <p>desc: <%= description[:description] %></p>
      <% end %>
    <% end %>

    <button id="save-topic-states">SAVE</button>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: topics_path, next_page_link: nil } %>
