<main>
  <div class="container">
    <div class="row">
    <% @topics.each do |topic| %>
      <div data-key="<%= topic.key %>" data-name="<%= topic.name %>" class="col-4 topic">
        <p><strong><%= topic.name %></strong></p>
        <p>
          <textarea data-questions style="width: 100%;"><%= topic.questions %></textarea>
        </p>
      </div>
    <% end %>
    </div>

    <button id="save-topic-questions">SAVE</button>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: topics_path, next_page_link: topics_path } %>
