<% title 'Mission Active' %>

<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <p>Learn about your client and determine discussion target points <strong>(limit of 3):</strong></p>

        <div class="row" data-container="client-task">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <button data-client-task="<%= client_task.key %>" class="card card--wide btn-toggle"><%= client_task.name %></button>
          </div>
          <% end %>
        </div>

        <p>Mission Brief guidelines:</p>

        <div class="row">
          <% @discovery_questions.each do |discovery_question| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'discovery-questions', resource: discovery_question, attr: 'questions', data: discovery_question.questions }%>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-3 sidebar">
        <%= render partial: 'shared/client_info' %>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: industries_path, next_page_link: client_tasks_path } %>
