<main>
  <div class="container">
    <p class="page-instruction">Choose your product thats features best match the client needs</p>

    <div class="tab-group">
    <% @products.each do |product| %>
      <button data-id="<%= product.id %>" data-product="<%= product.name.downcase %>" class="tab__item btn-toggle btn-product"><%= product.name %></button>
    <% end %>
    </div>

    <table class="benefits">
      <thead>
        <tr>
          <th>Client Task</th>
          <th>Feature</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <% @client_tasks.each do |client_task| %>
        <tr>
          <td class="benefits__title"><%= client_task[:client_task].name %></td>
          <td class="benefits__title"><%= client_task[:feature].name %></td>

          <% @products.each do |product| %>
          <% match = false %>
          <td class="desc <%= product.name.downcase %>">
            <% client_task[:benefits].each do |description| %>
            <% if product.name.downcase == description[:product].name.downcase %>
            <% match = true %>
            <% if current_user.is_admin? %>
            <textarea data-id="<%= description[:id] %>" data-product-id="<%= description[:product].id %>"  data-feature-id="<%= client_task[:feature].id %>" class="client-benefit" style="width: 100%;"><%= description[:benefits] %></textarea>
            <% else %>
            <div><%= String(description[:benefits]).html_safe %></div>
            <% end %>
            <% end %>
            <% end %>

            <% if !match && current_user.is_admin? %>
            <textarea data-product-id="<%= product.id %>" data-feature-id="<%= client_task[:feature].id %>" class="client-benefit" style="width: 100%;"></textarea>
            <% end %>
          </td>
          <% end %>

        </tr>
      <% end %>
      </tbody>
    </table>

    <% if current_user.is_admin? %>
    <button id="save-client-benefits">SAVE</button>
    <% end %>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: client_tasks_path, next_page_link: products_path } %>
