<main>
  <div class="container">
    <p class="page-instruction">Assess the current and future state of their topics:</p>

    <div class="row">
      <div class="col-xs-9">
        <br>
        <p>CURRENT STATE</p>
        <div class="row">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'client-tasks', attr: 'current_state', resource: client_task, data: client_task.current_state }%>
          </div>
          <% end %>
        </div>

        <br>
        <p>FUTURE STATE</p>
        <div class="row">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'client-tasks', attr: 'future_state', resource: client_task, data: client_task.future_state }%>
          </div>
          <% end %>
        </div>

        <br>
        <p>Insights</p>
        <div class="row">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'client-tasks', attr: 'insights', resource: client_task, data: client_task.insights }%>
          </div>
          <% end %>
        </div>

        <br>
        <p>Feature</p>
        <div class="row">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'client-tasks', attr: 'features', resource: client_task, data: client_task.features }%>
          </div>
          <% end %>
        </div>

        <br>
        <p>Benefit</p>
        <div class="row">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'client-tasks', attr: 'benefits', resource: client_task, data: client_task.benefits }%>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-3 sidebar">
        <%= render 'shared/client_info' %>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: client_tasks_path, next_page_link: client_tasks_path } %>
