<main>
  <div class="container" data-container="call-type">
    <p><strong>Select your client call type:</strong></p>
    <div class="row">
      <% @call_types.each do |call_type| %>
        <div class="col-4">
          <button data-call-type="<%= call_type.key %>" class="btn-toggle btn-call-type"><%= call_type.name %></button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container" data-container="campaign">
    <p><strong>Select the specialty campaign:</strong></p>
    <div class="row">
      <% @campaigns.each do |campaign| %>
        <div class="col-4">
          <button data-campaign="<%= campaign.key %>" class="btn-toggle btn-campaign"><%= campaign.name %></button>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: root_path, next_page_link: industries_path } %>
