<main>
  <div class="container">
    <p class="page-instruction">Select your client call type and campaign:</p>

    <div class="row">
      <div class="col-9">
        <p>Call type:</p>

        <div class="row" data-container="call-type">
          <% @call_types.each do |call_type| %>
            <div class="col-4">
              <button data-call-type="<%= call_type.name %>" class="card btn-toggle btn-call-type"><%= call_type.name %></button>
            </div>
          <% end %>
        </div>

        <p>Campaign:</p>
        
        <div class="row" data-container="call-type">
          <% @campaigns.each do |campaign| %>
            <div class="col-4">
              <button data-campaign="<%= campaign.name %>" class="card btn-toggle btn-campaign"><%= campaign.name %></button>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-3 sidebar">
        <%= render partial: 'shared/client_info' %>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: root_path, next_page_link: industries_path } %>
