<% title 'Mission Parameters' %>

<main>
  <div class="container" data-container="call-type-or-campaign">
    <div class="row">
      <div class="col-xs-9">
        <p>Select your mission crew:</p>

        <div class="row">
          <% @call_types.each do |call_type| %>
            <div class="col-xs-4">
              <button data-call-type-or-campaign="<%= call_type.key %>" class="card card--wide btn-toggle"><%= call_type.name %></button>
            </div>
          <% end %>
        </div>

        <p>Or select the specialised mission:</p>

        <div class="row">
          <% @campaigns.each do |campaign| %>
            <div class="col-xs-4">
              <button data-call-type-or-campaign="<%= campaign.key %>" class="card card--wide btn-toggle"><%= campaign.name %></button>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-3 sidebar">
        <%= render partial: 'shared/client_info' %>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: root_path, next_page_link: industries_path } %>
