<main>
  <div class="container">
    <p class="page-title">MYOB <%= @product.name %></p>

    <% @product_task_details.each do |product_task_detail| %>
      <p>Client Task: <%= product_task_detail.client_task.name %></p>
      <p>Features: <%= product_task_detail.features %></p>
      <hr>
    <% end %>

    <%= render @product.name.downcase %>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: client_tasks_path, next_page_link: root_path } %>
