<!DOCTYPE html>
<html>
  <head>
    <title>Myob Sales Playbook</title>
    <%= csrf_meta_tags %>

    <script>var MSP = {}</script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice || alert %>
    <div class="flash">
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <% end %>

    <%= render "header" %>
    <%= yield %>
  </body>
</html>
