<!DOCTYPE html>
<html>
  <head>
    <title>Myob Sales Playbook</title>
    <%= csrf_meta_tags %>

    <script>var MSP = {}</script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "header" %>
    <%= render "flash" %>
    <%= yield %>
  </body>
</html>
